{% extends "layout.html" %}
{% block title %}
<div class="text-center bg-primary">
	<h1> What would you like to eat? </h1>
</div>
{% endblock title %}
{% block content %}
	{% for food in foods %}
	<div class="row">
		<div class="col-sm-8">
			<dl>
				<h1>{{ food.name }}</h1>
				<p class="lead">{{ food.description }}</p>
				{% if food.chef %}
					<dt> Cooked by {{ food.chef }}.</dt>
				{% else %}
					<dt>Cooked by Anonymous.</dt>
				{% endif %}
			</dl>
		</div>
		<div class="col-sm-4">
			<img src={{ food.image }} class='img-thumbnail img-fluid float-right' style="height: auto; width: 50%;" alt="{{ food.name }}">
		</div>
	</div>
	{% endfor %}
{% endblock content %}